<ion-menu side="start" menuId="menu" type="overlay" contentId="menuContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['/menu/home']">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item
          *ngIf="esporte"
          [routerLink]="['/menu/sport']"
          [queryParams]="{ resource: esporte.id }"
        >
          <ion-icon slot="start" name="fitness"></ion-icon>
          <ion-label>Treinos</ion-label>
        </ion-item>

        <ion-item
          *ngIf="esporte"
          [routerLink]="['/menu/players']"
          [queryParams]="{ sport: esporte }"
        >
          <ion-icon slot="start" name="contacts"></ion-icon>
          <ion-label>Jogadores</ion-label>
        </ion-item>

        <ion-item
          *ngIf="esporte"
          [routerLink]="['/menu/notificacion']"
          [queryParams]="{ sport: esporte }"
        >
          <ion-icon slot="start" name="notifications"></ion-icon>
          <ion-label>Notificações</ion-label>
        </ion-item>

        <ion-item
          *ngIf="esporte"
          [routerLink]="['/menu/presenca']"
          [queryParams]="{ sport: esporte }"
        >
          <ion-icon slot="start" name="clipboard"></ion-icon>
          <ion-label>Presença</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list>
      <ion-item [routerLink]="['/menu/profile']">
        <ion-icon slot="start" name="contact"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item (click)="this.usuario.logout()">
        <ion-icon slot="start" name="exit"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main id="menuContent"></ion-router-outlet>