<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{sport.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">NOTIFICAÇÕES</ion-label>
    </ion-list-header>

    <ion-item *ngIf="notifications.length === 0 && !showLoading" lines="none">
      <h1 class="centraliza">Não há notificações no momento!</h1>
    </ion-item>

    <ion-item *ngFor="let notific of notifications" lines="none">
      <div lines="none" class="direction-column">
        <ion-label color="secondary"><h1>{{notific.assunto}}</h1></ion-label>
        <ion-textarea readonly>{{notific.mensagem}}</ion-textarea>
      </div>
      <ion-icon color="danger" slot="end" name="trash" (click)="deleteNotification(notific)"></ion-icon>
    </ion-item>

    <ion-spinner *ngIf="showLoading" class="centraliza">
    </ion-spinner>
  </ion-list>

  <ion-button expand="block" shape="round" fill="outline" (click)="writeNotification()">
    Escrever Notificação
  </ion-button>
</ion-content>
