.ion-padding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;

  > img {
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
  }
}

.text-center {
  text-align: center;
}
