.ion-padding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom left, #5C4425 9%, white 10%, white 90%, #5C4425 91%);
}

.justify-center {
  display: flex;
  justify-content: center;

  > img {
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
  }
}

.text-center {
  text-align: center;
}
