<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>MEUS ESPORTES</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Vôlei</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>ESPORTES DISPONÍVEIS</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Futebol</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Futsal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cheerleaders</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Basquete</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
